[build]
  command = "npm run build"
  publish = "build"
  environment = { NODE_ENV = "production" }

[functions]
  directory = "netlify/functions"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
